.box {
   display: flex;
   padding: 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: rgb(252, 209, 216);
   text-align: center;
   /* border-style: double; */
   border-radius: 50px;
}